.memeGenerator, .meme-form, .text-inputs {
    display: flex;
    box-sizing: border-box;
}

.memeGenerator {
    flex-direction: column;
    padding-bottom: 1em;
}
.meme-form, .text-inputs input, .get-meme-button {
    font-family: 'Karla', Avenir, Helvetica, Arial, sans-serif;
}

.meme-form {
    width: 100%;
    padding: 2em 2em 0 2em;
    flex-direction: column;
}

.text-inputs {
    flex-flow: row wrap;
    justify-content: center;
    column-gap: 1em;
}

.text-inputs input {
    min-width: 3em;
    flex: 1 1 auto;
    line-height: 2em;
    padding: 0.3em 0.5em;
    border: 1px solid #D5D4D8;
    border-radius: 6px;
    text-indent: 6px;
    margin-bottom: 1em;
}

.get-meme-button {
    border: none;
    text-align: center;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    padding: 0.7em;
    border-radius: 6px;
    background: linear-gradient(to right, #672280, #A626D3);
}

.memeGenerator .meme-image {
    max-width: 100%;
    border-radius: 3px;
}

/* MOUVEMENT DEGUEU QUAND MEME TROP GRAND */

/* CSS CI-DESSOUS RECUPERE DEPUIS EXO */

.meme-result {
    position: relative;
    padding: 2em 2em 0 2em;
}

.meme-text {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.bottom {
    bottom: 1em;
}

.top {
    top: 1em;
}
