.navbar, .nav-left, .nav-right{
    display: flex;
    box-sizing: border-box;
}

.navbar {
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #21222A;
    padding: 0.85em 2em;
}

.nav-left, .nav-right {
    align-items: center;
}

.nav-left {
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 7px;
}

.nav-right {
    justify-content: flex-end;
}

.nav-title {
    font-size: 22.25px;
    letter-spacing: -5%;
    color: #61DAFB;
}

.nav-subtitle {
    font-size: 16px;
    color: #DEEBF8;
    /* font-weight: semibold; A CHECKER */
}